<div id="menu-bar-left">
    <div class="bar-card">
        <img src="/media/icons/student-course.png" alt="Language Course">
        <p class='title'>Course: <b><%= course.title %></b></p>
        <p>at <b><%= company.name %></b></p>
        <p><b><%= course.difficulty %></b> level</p>
    </div>

    <a class="btn btn-secondary function-btn-panel" data-toggle="collapse" href="#all-chapters" role="button" aria-expanded="false" aria-controls="allchaptersCollapse">All chapters <span style="margin-left: 0.5rem">&#9660;</span></a>
    <div class="collapse multi-collapse" id="all-chapters">
        <% for(let i=0; i<chapters.length; i++) { %>
            <a class="btn btn-dark function-btn-panel" data-toggle="collapse" href="#chaptersStudent<%= i %>" role="button" aria-expanded="false" aria-controls="allchaptersCollapse"><%- eval(i+1) %>. <%= chapters[i].title %><span style="margin-left: 0.5rem">&#9662;</span></a>
            <div class="collapse multi-collapse" id="chaptersStudent<%= i %>">
                <h2 class="bar-link"><a href="/student/chapters/<%= chapters[i].id %>/materials"><img src="/media/icons/nav/study-materials.png" alt="Plus"> Study Materials</a></h2>
                <h2 class="bar-link"><a href="/student/chapters/<%= chapters[i].id %>/vocab"><img src="/media/icons/nav/translate.png" alt="Plus"> Vocabulary</a></h2>
                <h2 class="bar-link"><a href="/student/chapters/<%= chapters[i].id %>/comprehension"><img src="/media/icons/nav/glasses.png" alt="Plus"> Comprehension</a></h2>
                <h2 class="bar-link"><a href="/student/chapters/<%= chapters[i].id %>/results"><img src="/media/icons/nav/tick.png" alt="Plus"> Results</a></h2>
            </div>
        <% }; %>
    </div>
</div>