<%- include("includes/head.ejs") %>
</head>

<body onload="showModal()">
    <%- include("includes/navigation.ejs") %>

    <% if(!(success==null)) { %>
        <div class="modal fade" id="registeredModal" tabindex="-1" role="dialog" aria-labelledby="registeredModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registeredModalLabel"><%= (success=='true') ? "Success" : "Error occurred!" %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/media/icons/<%= (success=='true') ? 'tick.png' : 'error.png' %>" alt="Tick Icon" >
                        <p><%= (success=='true') ? "Your registration has been successful! Check your mailbox for a verification email." : "There has been an error while adding a course! Please try registering again or contact support!" %></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    
    <div id="registration-page">
        <div class="transparent-form">
            <h2 class="title-decor">Register a Company</h2>
            <form action="/register" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="companyName">Company's name <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="text" class="form-control" id="companyName" name="companyName" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="companyEmail">Company's email address <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="text" class="form-control" id="companyEmail" name="companyEmail" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="companyTel">Company's telephone <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="text" class="form-control" id="companyTel" name="companyTel" placeholder="07411223344" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="adminName">Your name <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="text" class="form-control" id="adminName" name="adminName" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="adminSurname">Your surname <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="text" class="form-control" id="adminSurname" name="adminSurname" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="adminDep">Your department <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="text" class="form-control" id="adminDep" name="adminDep" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="adminEmail">Your email address <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="email" class="form-control" id="adminEmail" name="adminEmail" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="adminPassword">Password <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="password" class="form-control" id="adminPassword" name="adminPassword" required>
                        <small id="passEightChar" class="form-text">At least 8 characters</small>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="repeatPassword">Repeat password <span style='color: #8F0C0C'>&#8727;</span></label>
                        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required>
                        <small id="passMatch" class="form-text">Checking passwords...</small>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-dark" id="register-button" disabled>Register</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik 2020, Language on Arrival 2020</footer>

    <%- include("includes/end.ejs") %>

    <script type="text/javascript" src="/scripts/registration-script.js"></script>

</body>
</html> 