<%- include("../includes/head.ejs") %>
</head>

<body onload="showModal()">
    <%- include("../includes/navigation-panel.ejs") %>

    <% if(!(success==null)) { %>
        <div class="modal fade" id="userAdded" tabindex="-1" role="dialog" aria-labelledby="userAddedLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userAddedLabel"><%= (success=='true') ? "Success" : "Error occurred!" %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> 
                <div class="modal-body">
                    <img src="/media/icons/<%= (success=='true') ? 'tick.png' : 'error.png' %>" alt="Tick Icon" >
                    <p><%= (success=='true') ? "You have successfully added a new student." : "There has been an error while adding a new student! Please try again or contact the support" %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    <% } %>
    
    <div class="main-panel">

        <%- include("../includes/left-bar.ejs") %>

        <div class="course-content">
            <div class="transparent-form" id="panel-form">
                <h2 class="title-decor">Add a Student</h2>
                <form action="/enterprise/students/add" method="POST">
                    <div class="form-row panel-row">
                        <div class="form-group col-md-4">
                            <label for="name">Student's Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="surname">Student's Surname</label>
                            <input type="text" class="form-control" id="surname" name="surname" required>
                        </div>
                    </div>
                    <div class="form-row panel-row">
                        <div class="form-group col-md-4">
                            <label for="email">Student's Email</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="pass">New Password</label>
                            <input type="password" class="form-control" id="pass" name="pass" required>
                        </div>
                    </div>
                    <div class="form-row panel-row">
                        <div class="form-group col-md-4">
                            <label for="nationality">Nationality/-ies</label>
                            <input type="text" class="form-control" id="nationality" name="nationality" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required>
                        </div>
                    </div>
                    <div class="form-row panel-row">
                        <button type="submit" class="btn btn-dark" style="margin: 0 auto;">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

    <script src="/scripts/common.js"></script>

</body>
</html>