<%- include("../includes/head.ejs") %>
</head>

<body onload="showModal()">
    <%- include("../includes/navigation-panel.ejs") %>

    <% if(!(success==null)) { %>
        <div class="modal fade" id="userAdded" tabindex="-1" role="dialog" aria-labelledby="userAddedLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userAddedLabel"><%= (success=='true') ? "Success" : "Error occurred!" %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <img src="/media/icons/<%= (success=='true') ? 'tick.png' : 'error.png' %>" alt="Tick Icon" >
                    <p><%= (success=='true') ? "You have successfully added a new course." : "There has been an error while adding a course! Please try again or contact the support" %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    <% } %>
    
    <div class="main-panel">

        <%- include("../includes/left-bar.ejs") %>

        <div class="course-content">
            <div class="transparent-form" id="panel-form">
                <h2 class="title-decor">Add a New Chapter</h2>
                <form action="/enterprise/courses/chapters/add" method="POST">
                    <div class="form-row">
                        <% let maxNo = 0; %>
                        <% if(!(chapters.length==0)){ %>
                            <% for(let i=0; i<chapters.length; i++) { %>
                                <% if(chapters[i].number > maxNo) { maxNo = chapters[i].number }; %>
                            <% }; %>
                        <% }; %>
                        <% maxNo++; %>
                        <div class="form-group col-md-2">
                            <label for="number">Number</label>
                            <input type="number" step="1" min="1" class="form-control" id="number" name="number" value="<%= maxNo %>" readonly>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="title">Chapter Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="theme">Main Theme</label>
                            <input type="text" class="form-control" id="theme" name="theme" required>
                            <small>What will it be mainly about?</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="description">Chapter Description</label>
                            <textarea class="form-control" name="description" id="description" row="6" placeholder="Describe in a few words what knowledge and skills the chapter will address..." required></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-dark" style="margin: 0 auto;">Add</button>
                    </div>
                </form>
            </div>

            <h3>Chapters in the Course</h3>

            <table class="table table-striped" id="chapter-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Theme</th>
                        <th scope="col">Description</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <% if(!(chapters.length==0)) { %>
                        <% for(let i=0; i<chapters.length; i++) { %>
                    <tr>
                        <th scope="row"><%= chapters[i].number %></th>
                        <td><%= chapters[i].title %></td>
                        <td><%= chapters[i].theme %></td>
                        <td><%= chapters[i].description %></td>
                        <td><input type="hidden" value="<%= chapters[i].id %>"><button class="btn btn-danger">Delete</button></td>
                    </tr>
                        <% }; %>
                    <% } else { %>
                        <th scope="row">0</th>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td><button class="btn btn-danger" disabled>Delete</button></td>
                    <% }; %>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

    <script src="/scripts/common.js"></script>

</body>
</html>