<%- include("../includes/head.ejs") %>
</head>

<body onload="showModal()">
    <%- include("../includes/navigation-panel.ejs") %>

    <% if(!(success==null)) { %>
        <div class="modal fade" id="userAdded" tabindex="-1" role="dialog" aria-labelledby="userAddedLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userAddedLabel"><%= (success=='true') ? "Success" : "Error occurred!" %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <img src="/media/icons/<%= (success=='true') ? 'tick.png' : 'error.png' %>" alt="Tick Icon" >
                    <p><%= (success=='true') ? "You have successfully enrolled a student to a course." : "There has been an error while enrolling a student! Please try again or contact the support" %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    <% } %>
    
    <div class="main-panel">

        <%- include("../includes/left-bar.ejs") %>

        <div class="course-content">
            <div class="transparent-form" id="panel-form">
                <h2 class="title-decor">Enrol a Student</h2>
                <form action="/enterprise/students/enrol" method="POST">
                    <div class="form-row panel-row">
                        <div class="form-group col-md-4">
                            <label for="diff">Choose a course...</label>
                            <select class="form-control" id="coursesToAssign" name="coursesToAssign">
                                <% for(let i=0; i<courses.length; i++) { %>
                                <option value="<%= courses[i].id %>"><%= courses[i].title %></option>
                                <% }; %>
                            </select>
                        </div>
                    </div>
                    <div class="form-row panel-row">
                        <div class="form-group col-md-4">
                            <label for="studentsToAssign">Choose a student to enrol...</label>
                            <select class="form-control" id="studentsToAssign" name="studentsToAssign">
                                <% for(let i=0; i<students.length; i++) { %>
                                    <option value="<%= students[i].id %>"><%= students[i].name + " " + students[i].surname %></option>
                                <% }; %>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-dark" style="margin: 0 auto;" id="assign-btn">Enrol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

    <script src="/scripts/common.js"></script>
    
    <script>
        $(document).ready(() => {
            console.log($("#coursesToAssign").children().length);
            if($("#studentsToAssign").children().length == 0) {
                $("#assign-btn").prop("disabled", true);
                $("#assign-btn").css("cursor", "not-allowed");
            }
        });
    </script>

</body>
</html>