<%- include("../includes/head.ejs") %>
    <script src="https://cdn.tiny.cloud/1/4s96ojvpavg0k6fg313o37mra3xt4w48ynd4409ogmwnahhy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: 'textarea'
        });
    </script>
    <script src="https://unpkg.com/mic-recorder-to-mp3@2.2.0/dist/index.min.js"></script>
</head>

<body onload="showModal()">
    <%- include("../includes/navigation-panel.ejs") %>

    <% if(!(success==null)) { %>
        <div class="modal fade" id="editComprehModal" tabindex="-1" role="dialog" aria-labelledby="editComprehModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editComprehModalLabel"><%= (success=='true') ? "Success" : "Error occurred!" %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/media/icons/<%= (success=='true') ? 'tick.png' : 'error.png' %>" alt="Tick Icon" >
                        <p><%= (success=='true') ? "You have successfully edited the comprehension exercise. You can close this tab or introduce more changes." : "There has been an error while editing the exercise! Please try again or contact the support" %></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    
    <div class="main-panel">

        <%- include("../includes/left-bar.ejs") %>

        <div class="course-content">
            <div class="transparent-form" id="comprehension-container">
                <h2 class="title-decor">Edit a Comprehension Exercise</h2>
                <form method="POST" id="comprehension-form">
                    <div class="form-row panel-row">
                        <div class="form-group col-md-4">
                            <label for="chapterSelecter">Select the chapter... <span style='color: #8F0C0C'>&#8727;</span></label>
                            <select class="form-control" id="chapterSelected" name="chapterSelected">
                                <% for(let i=0; i<chapters.length; i++) { %>
                                <option value="<%= chapters[i].id %>" <%- exercise.ChapterId == chapters[i].id ? 'selected' : '' %> ><%= chapters[i].title %></option>
                                <% }; %>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="title">Exercise Title <span style='color: #8F0C0C'>&#8727;</span></label>
                            <input type="text" class="form-control" name="title" id="title" value="<%= exercise.name %>" required>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="description">Short description <span style='color: #8F0C0C'>&#8727;</span></label>
                            <input type="text" class="form-control" name="description" id="description" value="<%= exercise.description %>" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="textEng">Text in English</label>
                            <textarea class="form-control" name="textEng" id="textEng"><%= exercise.textEng %></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="recordingBox">Record an <b>new</b> audio...</label>
                            <div id="recordingBox">
                                <p id="recordingLength"></p>
                                <input type="button" class="btn btn-success" id="recordingButton" value="Start">
                                <ul class="list-unstyled" id="listOfRecordings"></ul>
                            </div>
                            <input type="hidden" name="audioFileName" id="audioFileName">
                        </div>
                    </div>
                    <div class="form-row" style="margin-top: 1rem">
                        <div class="form-group col-md-12">
                            <label for="textFor">Translation</label>
                            <textarea class="form-control" name="textFor" id="textFor" rows="6"><%= exercise.textFor %></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button id="submitButton" class="btn btn-dark" style="margin: 1rem auto -1rem auto;">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="window-cover"></div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

    <script src="/scripts/manage-compreh.js"></script>

</body>
</html>