<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/navigation-panel.ejs") %>
    
    <%- include("../includes/student-bar.ejs") %>

    <div class="course-content" id="exercise-presentation">
        <% for(let i=0; i<exercises.length; i++) { %>
            <% if(!(exercises[i].disabled)) { %>
                <div class="exercise-bw">
                    <% if(completed.includes(exercises[i].id)) { %>
                    <figure class="function-button">
                        <img src="/media/icons/thick-tick.png" class="figure-img img-fluid rounded" alt="Learn">
                        <figcaption class="figure-caption"><%= exercises[i].name %></figcaption>
                        <small style="max-width: 55%;"><%= exercises[i].description %></small>
                    </figure>
                    <% } else { %>
                    <a href="<%= path + '/' + exercises[i].id %>">
                        <figure class="function-button">
                            <img src="/media/icons/comprehension.png" class="figure-img img-fluid rounded" alt="Learn">
                            <figcaption class="figure-caption"><%= exercises[i].name %></figcaption>
                            <small style="max-width: 55%;"><%= exercises[i].description %></small>
                        </figure>
                    </a>
                    <% }; %>
                </div>
            <% }; %>
        <% }; %>
    </div>

    <footer class="stick-bottom" id="page-footer">(c) Damian Wojtunik, Language on Arrival 2020</footer>

    <%- include("../includes/end.ejs") %>

</body>
</html>